<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="left">
            <img src="https://img.icons8.com/material/96/000000/cat-footprint.png" alt="logo" class="logo">
        </div>
        <div class="middle">
            <input type="search" name="" id="srchbr">
            <a href="#" class="search"><i class="fas fa-search"></i>
        </div>
        <div class="right">
            <div class="hamburger-menu" id="hamburgerbtn">
                <div class="hamburger"></div>
                <div class="hamburger"></div>
                <div class="hamburger"></div>
            </div>
            <ul class="nav-link">
                <li><a href="#" class="tt links" data-tt='Home'><i class="fas fa-home"></i></a></li>
                <li><a href="#" class="tt links" data-tt='Package'><i class="fas fa-archive"></i></a></li>
                <li><a href="#" class="tt links" data-tt='Pricing'><i class="fas fa-money-check-alt"></i></a></li>
                <li><a href="#" class="tt links" data-tt='Booking'><i class="fas fa-calendar-day"></i></a></li>
                <li><a href="#" class="tt links" data-tt='Login'><i class="fas fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
    <script>
        var btn = document.getElementById("hamburgerbtn");
        btn.onclick = function() {
            navbar = document.querySelector(".nav-link")
            navbar.classList.toggle("active");
        }
   </script>
</body>
</html>