@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --white:#EBFFFA;
   --light-green:#C6FCE5;
   --green:#6EF3D6;
   --light-blue:#0DCEDA;

   --navy:#283149;
   --navy-gray: #404258;
   --blue: #50577A;
   --gray: #6B728E;
}



*::-webkit-scrollbar{
   width: 10px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--light-blue);
}


/*Plans Start*/
.plans{
    background-color: #fff;
}
.plans .card{
    text-align: center;
    border: none;
    padding: 20px;
    background: var(--light-green);
    box-shadow:  11px 11px 22px #c8d9d5,
                          -11px -11px 22px var(--light-green);
}
.plans .cont{
    padding: 40px;
             border-radius: 0px;
             background: linear-gradient(145deg, #fbffff, #d4e6e1);
             box-shadow:  11px 11px 22px #c8d9d5,
                          -11px -11px 22px var(--light-green);
}
.plans .cont:hover{
background: var(--light-green);
box-shadow: inset 20px 20px 34px #9ecab7,
            inset -20px -20px 34px var(--light-green);
}

.plans .cont p{
    text-align: justify;
}
/*Plans End*/

/*Try Something Speecial Start*/
.flip-card {
    background-color: transparent;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }
/*Try Something Speecial End*/


/*Sri Lanka Map Start*/
.map path {
fill: green;
stroke: yellow;
stroke-width: 1px;
transition: fill 0.2s;
}

.map :hover{
  fill: darkgoldenrod;
  /*stroke: white;
  stroke-width: 1px;*/
}

.map svg .Mahanuvara:hover{
  color: red;
}

/*Sri Lanka Map End*/
