@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --white:#EBFFFA;
   --light-green:#C6FCE5;
   --green:#6EF3D6;
   --light-blue:#0DCEDA;

   --navy:#283149;
   --navy-gray: #404258;
   --blue: #50577A;
   --gray: #6B728E;
}



*::-webkit-scrollbar{
   width: 10px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--light-blue);
}

.plans .card{
    text-align: center;
    border: none;
    padding: 20px;
    background: var(--light-green);
    box-shadow:  20px 20px 40px #a4d1be,
             -20px -20px;
}
.plans .cont{
    padding: 40px;
    border-radius: 0px;
background: var(--white);
box-shadow:  20px 20px 40px #a4d1be,
             -20px -20px 40px var(--light-green);
}
.plans .cont:hover{
    border-radius: 0px;
background: var(--light-green);
box-shadow: inset 20px 20px 34px #9ecab7,
            inset -20px -20px 34px var(--light-green);
}

.plans .cont p{
    text-align: justify;
}
