@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Damion&family=Pacifico&display=swap');


.footer{
    background-color: lightcoral;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg,#0dccda,rgb(0, 187, 156));
}

.footer .top-container{
    display: flex;
    justify-content: space-around;
}

.footer .bottom-container{
    background-color: #098BAC;
    display: flex;
    justify-content: center;
    align-items: bottom;
    font-size: .7rem;
    padding: none;
    margin: none;
    height: 20px;
    color: white;
    font-family: Roboto;
    
}

.footer .data-container{
    display: flex;
    margin-top: -20px;
}

.mobile-link-list{
    display: none;
}

.footer .social-container{
    padding: 10px 50px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .social-subcontainer {
    width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 3px solid rgba(255, 255, 255, 0.603);
    border-radius: 5px;
    padding-top: 20px;
}

.footer .logo-container h3{
    font-family: 'Damion', cursive;
    color: white;
    font-size: 1.7rem;
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer .logo-container p{
    color: white;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-bottom: 30px;
}

.footer .data-container img{
    scale: .5;
}

.footer .data-container {
    color: white;
    font-family: Roboto;
    
}
.footer .link-list, .contact-form{
    margin-top: 15px;
    color: white;
}

.footer .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer .contact-form img {
    width: 15px;
    
}
.footer .contact-form input {
    outline: none;
    padding: 5px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    text-align: left;
    padding-left: 5px;    
}
.footer .contact-form input::placeholder {
    color: white;
    opacity: 0.7;
    font-size: 13px;    
}
.footer .contact-form button {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    margin-left: 4px;
}

@media (max-width:400px){
    .top-container{
        flex-direction: column;
        justify-content: center;
    }
    .bottom-container{
        font-size: .6rem;
    }
    .bottom-container p {
        margin-top: 3px;
    }
    .link-list{
        display: none;
    }
    .mobile-link-list{
        display: block;
    }
    .mobile-view{
        display: flex;
        justify-content: space-around;
    }
    .contact-form{
        text-align: center;
        margin-bottom: 30px;
        margin-top: -5px;
    }
    .data-container{
        scale: .8;
        margin-left: -30px;
    }
    .data-container img{
        scale: .5;
    }
    .mobile-link-list h3{
        font-size: 1.3rem;
        margin-bottom: 30px;
    }
    .mobile-link-list{
        display: block;
        margin-right: 20px;
        margin-top: 30px;
        color: white;
        font-family: Roboto;
        font-size: .9rem;
    }
    .line-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 10px;
        height: 3px;
        width: 75%;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .logo-container{
        margin-left: 25px
    }
}