@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Damion&family=Pacifico&display=swap');

.logo-title {
    font-family: 'Damion', cursive;
    color: white;
    font-size: 30px;
}

.nav {
    background: transparent;
    transition: 1s;
}

.nav.colorChange{
    background-color: #00c7cebb;
    transition: 1s;
}

.nav-link{
    color: white;
    font-size: 20px;
}