
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat+Alternates:wght@200&display=swap');


.image-mid-container,
.image-container {
  position: relative;
  text-align: center;
}

.image-container img {
  width: 100%;
  padding: 15px;
  border-radius: 45px;
}

.image-mid-container img {
  width: 100%;
  padding: 15px;
  border-radius: 45px;
  margin-top: 0%;
}

.image-title {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.8em;
  font-weight: bold;
}

.visitsl-title {
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 4.5em;
  text-align: center;
  margin-top: 30px;
  color: black;
}
