@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat+Alternates:wght@200&display=swap');


.visitsl-title {
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 4.5em;
  text-align: center;
  margin: 50px 0 40px;

  color: #EBFFFA;
  text-shadow: -2px 2px 4px #000000,
              2px 2px 4px #0dccda;
}


.image-top-container,
.image-mid-container,
.image-container {
  position: relative;
  text-align: center;
}

.image-mid-container img,
.image-top-container img,
.image-container img {
  width: 100%;
  border-radius: 45px;
  margin-bottom: 15%;
  box-shadow: 10px 10px 8px #3a3a3a;
}


/*for middle images*/

/*.image-top-container img{
  margin-top: -25%;
}

.image-mid-container img {
  margin-top: 25%;
}*/

.image-title {
  position: absolute;
  bottom: -4%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EBFFFA;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #000000;
}

#transparent {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 20%;
  border-radius: 0 0 45px 45px;
  background-color: rgba(0, 0, 0, 0.486);

}
@media only screen and (max-width: 1400px) {
  .image-title {
    bottom: 7%;
  }

}
@media only screen and (max-width: 1200px) {
  .image-title {
    font-size: 37px;
    bottom: 10%;
  }
  .visitsl-title {
    font-size: 3.5em;
  }
}
@media only screen and (max-width: 990px) {
  .image-title {
    font-size: 27px;
    bottom: 9%;
  }
  .visitsl-title {
    font-size: 3em;
  }
  .image-mid-container img {
    border-radius: 15px;
  }
  .image-top-container img {
    border-radius: 15px;
  }
  .image-container img {
    border-radius: 15px;
  }
  #transparent {
    border-radius: 0 0 15px 15px;
  }
}
@media only screen and (max-width: 480px) {
  .image-title {
    bottom: 7%;
  }
  .visitsl-title {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 400px) {
  .image-title {
    font-size: 23px;
    bottom: 8%;
  }
  .visitsl-title {
    font-size: 2em;
  }
}



/*chatGPT code*/
/*.image-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}*/

